<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<sectionGroup name="DBQueueConfig">
      <section
        name="Queues"
        type="DBQ.Framework.QueueConfigurationSection,DBQ"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>-->
    <section name="DBQueueConfig" type="DBQ.Framework.QueueConfigurationSection,DBQ"/>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

  <DBQueueConfig>
    <Queues>
      <Queue QueueName="Default" Enabled="True">
        <ConnectionString Name="Default"/>
        <ShutDown WhenQueueEmpty="True"/>
        <!--<WorkerThreads Count="2" ItemBatchSize="10" ItemProcessRate="1000" PeekRateThrottlingEnabled="True"/>-->
      </Queue>
    </Queues>
  </DBQueueConfig>
</configuration>